body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.header {
  height: 40rem;
  background-image: url("../img/cybercrime_titelbild.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}

.title{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svg{
position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}