:root {
    --yellow: #f6dc00;
    --black: #000000;
    --yellow-light: #e0d066;
    --grey: #2f3640;

    --error: rgba(231, 76, 60, 1.0);
    --error-bg: rgba(231, 76, 60, 0.3);

    --warning: rgba(155, 89, 182, 1.0);
    --warning-bg: rgba(155, 89, 182, 0.3);

    --success: rgba(46, 204, 113, 1.0);
    --success-bg: rgba(46, 204, 113, 0.3);

}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
}

h1, h2, h3 {
    font-family: 'Patua One', cursive;
}

h1 {
    font-size: 13em;
    letter-spacing: 10px;
}

h2 {
    font-size: 4em;
}

.p0 {
    padding: 0;
}

.m0 {
    margin: 0;
}

.t0 {
    list-style-type: none;
}

h3 {
    font-size: 2em;
}

.fp-tableCell {
    text-align: center;
}


.sources {
    margin-top: 1em;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.main-title {
    font-family: 'Patua One', cursive;
    font-size: 7em;
}

#canv {
    background-color: var(--yellow);
}

.scroll-down {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--black);
    min-height: 250px;
    min-width: 200px;
    border-radius: 1rem;
    padding: 20px;
    color: var(--yellow);
    z-index: 1;
}

#arrow-down {
    margin-top: 5px;
    max-height: 2em;
}


#more-data-box {
    display: none;
    bottom: 5px;
}

#more-data-title {
    font-size: 2em;
}

#more-data-link {
    font-size: .75rem;
    color: var(--yellow);
}

#close {
    position: absolute;
    width: 20px;
    height: auto;
    top: 8px;
    right: 8px;
}

.speech-bubble {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: var(--yellow);
    max-width: 30em;
    min-width: 5em;
    background-color: var(--black);
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    z-index: 2;
}

.disclaimer {
    position: absolute;
    font-size: 0.6em;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}


.authors {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

#bar_chart_outer {
}

#bar_chart {
    width: auto;
    height: 20rem;
    margin-left: 40rem;
    transform: rotate(90deg);
}

text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    transform: rotate(-90deg) translate(-120px, -10px);
    text-align: right;
}

.domain {
    display: none;
}

.alter-legende {
    position: absolute;
    font-size: 0.6em;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
}

.email-input {
    font-size: 2rem;
    width: 50rem;
    height: 4rem;
    border-radius: 1rem;
    border: 3px solid var(--black);
    background-color: var(--yellow-light);
    padding-left: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
}


.email-input:focus {
    outline: none;
}


.loader {
    display: none;
    border: 5px solid var(--yellow-light);
    border-radius: 50%;
    border-top: 5px solid var(--grey);
    width: 25px;
    height: 25px;
    -webkit-animation: spin .75s linear infinite; /* Safari */
    animation: spin .75s linear infinite;
}

#mailInvalid {
    display: none;
    color: var(--error);
    font-weight: 800;
    background-color: var(--error-bg);
    padding: 10px;
    border-radius: .5rem;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.message {
    padding: 10px;
    border-radius: .5rem;
    width: 50rem;
    max-height: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.warning {

}

.success {

}

.error {
    color: var(--error);
    background-color: var(--error-bg);
}


