@font-face {
    font-family: "Montserrat-Regular";
    src: url("/src/font/Montserrat-Regular.ttf") ;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("/src/font/Montserrat-Bold.ttf") ;
}

:root {
    --white: #eeeeee;
    --black: #010101;
    --grey: #8a8a8a;
    --teal: #5D8886;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat-Regular', sans-serif;
    margin: auto;
    max-width: 1280px;
}

html {
    font-size: 100%;
}

.header {
    height: 40rem;
    background-image: url("../img/cybercrime_titelbild.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 span {
    color: var(--white);
    background-color: var(--black);
    display: inline-block;
    font-weight: normal;
    opacity: 0.9;
    padding-top: 0.2em;
    text-align: left;
}

h1 {
    font-size: 38px;
    line-height: 1.2;
    letter-spacing: 10px;
    text-transform: uppercase;
}

h1 span {
    padding-left: 20px;
    padding-right: 20px;
}

h3 span {
    color: var(--white);
    display: inline-block;
    font-weight: normal;
    padding-top: 0.2em;
    text-align: left;
}

h3 {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding: 20px;
}

.text-in-picture {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;

}

.text-div {
    background-color: var(--white);
    text-align: left;
    width: 1000px;
    margin: 20px auto;
    border-radius: 8px;
    padding: 20px;

}

.text-list {
    padding-left: 20px;
}

.text-list-item {
    padding-left: 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.fakten-title {
    font-size: 30px;
    color: var(--teal);
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
}

.infographic {
    height: 60rem;
    background-position: center;
    background-image: url("../img/infografik.png");
    background-repeat: no-repeat;
}

.chart-place {
    width: auto;
}

#rectangle2, #rectangle3 {
    height: 500px;
    background: var(--grey);
}


#rectangle5 {
    height: 200px;
    background: var(--grey);
}

input[type=email] {
    width: 100%;
    height: 75px;
    font-size: 50px;
    text-align: center;
    border-radius: 40px;
    border: 3px solid var(--teal);

}


footer {
    text-align: center;
    padding: 3px;
    background-color: var(--teal);

}


.quelle {
    text-align: center;
    padding: 20px;
    text-transform: lowercase;
    color: var(--white);
    text-decoration: none;
}

.boxen{
    display: flex;
    text-align: center;
    padding-top: 20px;
    margin-left: 100px;
}


.boxen-intro{
    display: flex;
    text-align: center;
    padding-top: 20px;
    margin-left: 30px;
}

.box1, .box2, .box3, .box4 , .box5{
    width: 20%;
    margin-right: 2%;
    padding: 20px;
    box-sizing: border-box;
    background: #5D8886;
    border-radius: 10px;

}



.box-title{
    display: block;
    color: #ffff;
}

.box1-picture {
    height: 7rem;
    background-image: url("../img/update.png");
    background-repeat: no-repeat;
    background-position: center;
}

.box2-picture {
    height: 7rem;
    background-image: url("../img/antivirus.png");
    background-repeat: no-repeat;
    background-position: center;
}
.box3-picture {
   height: 7rem;
    background-image: url("../img/password.png");
    background-repeat: no-repeat;
    background-position: center;
}

.box4-picture {
    height: 7rem;
    background-image: url("../img/spam.png");
    background-repeat: no-repeat;
    background-position: center;
}

.box5-picture {
    height: 7rem;
    background-image: url("../img/malware.png");
    background-repeat: no-repeat;
    background-position: center;
}
.box6-picture {
    height: 7rem;
    background-image: url("../img/identitätsdiebstahl.png");
    background-repeat: no-repeat;
    background-position: center;
}


.box8-picture {
    height: 7rem;
    background-image: url("../img/network.png");
    background-repeat: no-repeat;
    background-position: center;
}

.box9-picture {
    height: 7rem;
    background-image: url("../img/social-engineering.png");
    background-repeat: no-repeat;
    background-position: center;
}