@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --white: #eeeeee;
    --black: #010101;
    --grey: #8a8a8a;
    --teal: #5D8886;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    max-width: 1280px;
}

html {
    font-size: 100%;
}

.header {
    height: 40rem;
    background-image: url("../img/cybercrime_titelbild.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 span {
    color: var(--white);
    background-color: var(--black);
    display: inline-block;
    font-weight: normal;
    opacity: 0.9;
    padding-top: 0.2em;
    text-align: left;
}

h1 {
    font-size: 38px;
    line-height: 1.2;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold', sans-serif;

}

h1 span {
    padding-left: 20px;
    padding-right: 20px;
}

h3 span {
    color: var(--white);
    display: inline-block;
    font-weight: normal;
    padding-top: 0.2em;
    text-align: left;
    font-family: 'Montserrat-Bold', sans-serif;

}

h3 {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding: 20px;
}

.text-in-picture {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;

}

.text-div {
    background-color: var(--white);
    text-align: center;
    width: 1000px;
    margin: 20px auto;
    border-radius: 8px;
    padding: 20px;

}

.text-list {
    padding-left: 20px;
}

.text-list-item {
    padding-left: 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.fakten-title {
    font-size: 30px;
    color: var(--teal);
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    font-family: 'Montserrat-Bold', sans-serif;

}

.infographic {
    height: 60rem;
    background-position: center;
    background-image: url("../img/infografik.png");
    background-repeat: no-repeat;
}

.chart-place {
    width: auto;
}

#rectangle2, #rectangle3 {
    height: 500px;
    background: var(--grey);
}


#rectangle5 {
    height: 200px;
    background: var(--grey);
}



footer {
    text-align: center;
    padding: 3px;
    background-color: var(--teal);

}

.quelle {
    text-align: center;
    padding: 20px;
    text-transform: lowercase;
    color: var(--white);
    text-decoration: none;
}

.boxen {
    display: flex;
    text-align: center;
    padding-top: 20px;
    margin-left: 100px;
}


.boxen-intro {
    display: flex;
    text-align: center;
    padding-top: 20px;
    margin-left: 30px;
}

.box1, .box2, .box3, .box4, .box5 {
    width: 20%;
    margin-right: 2%;
    padding: 20px;
    box-sizing: border-box;
    background: var(--teal);
    border-radius: 10px;

}


.box-title {
    display: block;
    color: var(--white);
}

.box1-picture {
    height: 7rem;
    background-image: url("../img/update.png");
    background-repeat: no-repeat;
    background-position: center;
}

.box2-picture {
    height: 7rem;
    background-image: url("../img/antivirus.png");
    background-repeat: no-repeat;
    background-position: center;
}

.box3-picture {
    height: 7rem;
    background-image: url("../img/password.png");
    background-repeat: no-repeat;
    background-position: center;
}

.box4-picture {
    height: 7rem;
    background-image: url("../img/spam.png");
    background-repeat: no-repeat;
    background-position: center;
}

.box5-picture {
    height: 7rem;
    background-image: url("../img/malware.png");
    background-repeat: no-repeat;
    background-position: center;
}

.box6-picture {
    height: 7rem;
    background-image: url("../img/identitätsdiebstahl.png");
    background-repeat: no-repeat;
    background-position: center;
}


.box8-picture {
    height: 7rem;
    background-image: url("../img/network.png");
    background-repeat: no-repeat;
    background-position: center;
}

.box9-picture {
    height: 7rem;
    background-image: url("../img/social-engineering.png");
    background-repeat: no-repeat;
    background-position: center;
}

.laender-vergleich {
    height: 80rem;
    background-image: url("../img/laendervergleich.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ergaenzung {
    font-style: italic;
}


.button{
    background-color: var(--teal);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.google-trends{
    height: 45rem;
    background-image: url("../img/google-trends.png");
    background-repeat: no-repeat;
    background-position: center;
}

.inlineForm{
    padding: 0;
    margin:25px;
    text-align: center;
    width: 100%;
    display:inline-grid;
    grid-template-columns: 85% 15%;
}

input[type=email] {
    width: 100%;
    height: 75px;
    font-size: 30px;
    text-align: center;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top: 3px solid var(--teal);
    border-left: 3px solid var(--teal);
    border-right: none;
    border-bottom: 3px solid var(--teal);
    font-family: 'Montserrat-Regular', sans-serif;
    display: inline;
    background-color: #ffffff;
}

#searchPwndMail{
    height:75px;
    width:75px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top: 3px solid var(--teal);
    border-right: 3px solid var(--teal);
    border-left: none;
    border-bottom: 3px solid var(--teal);
    background-color: #ffffff;
    display: inline;
}

#searchPwndMail:hover{
    background-color: #cbcbcb;
}

#searchBtnPwndMail{
    height:35px;
    width: auto;
}

#magnifier:hover{
    filter: invert(53%) sepia(0%) saturate(6160%) hue-rotate(114deg) brightness(101%) contrast(99%);
}

#searchBtnPwndMail:hover{
}

#mailInvalid{
    color: #600000;
    background-color: rgba(255, 0, 0, 0.35);
    padding: 10px 20px;
    display: none;
}

.error{
    color: #600000;
    background-color: rgba(255, 0, 0, 0.35);
    padding: 10px 20px;
}

.success{
    color: #186100;
    background-color: rgba(64, 255, 0, 0.35);
    padding: 10px 20px;
}

.warning{
    color: #615900;
    background-color: rgba(255, 234, 0, 0.35);
    padding: 10px 20px;
}

#loader{
    height: 25px;
    width: auto;
    display: none;
}


#pwndResults{
    width: 100%;
    height: auto;
}
